.main {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 0;
  margin-top: 15px;
  display: grid;
  grid-template-areas:
    'title buttons'
    'list list';
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .main__header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }
}

.main__title {
  padding: 20px;
  margin: 0;
}

.main__header {
  padding: 20px;
  margin-top: 0;
  align-self: center;
  justify-self: flex-end;
}

.main__button {
  outline: none;
  background-color: transparent;
  border: none;
  color: hsl(187, 100%, 23%);
  cursor: pointer;
  transition: 0.5s ease;
}

.main__button:hover {
  color: hsl(187, 100%, 35%);
}

.main__button:disabled {
  color: hsl(0, 0%, 65%);
  cursor: default;
}
